node_modules/
.next/
out/
dist/
coverage/
*.log
*.tsbuildinfo
next-env.d.ts
.env
.env.local
.env.*.local
.env.development
.env.production
.env.staging
*.key
*.pem
*.p12
*.pfx
*.jks
*.keystore
credentials.json
service-account*.json
.aws/
.gcloud/
gha-creds-*.json
id_rsa
id_ed25519
*.pub.local
*.mnemonic
*.seed
wallet.json
keystore/
*.map
.DS_Store
